:root{
    --text_color: blue;
  }
  
*{
    background-color:  lightgrey ;
}
header{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
#quiz-container{
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 20px;

}
h1, h2, h3{
    display:flex;
    justify-content: center;
    color:var(--text_color);
    font-size: x-large;
}
#info{
    padding-top: 226px;
}
#question{
    padding-top: 226px;
}
#timer{
    color:var(--text_color);
    font-size: x-large;
}
p{
    text-align: center;
    color: var(--text_color);
}

button:hover, #submit:hover{
    background-color:var(--text_color);
    border-color:black;
    color:white;
}
#choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56%;
    margin: 23px auto;
}
[for^=initials]{
    margin: 23px auto;
    display: flex;
    justify-content: center;
}
[type^=text]{
    margin: 23px auto;
    display: flex;
    justify-content: center;
}
#save-btn{
    margin: 23px auto;
    display: flex;
    justify-content: center;
}
#play-again-btn{
    margin: 23px auto;
    display: flex;
    justify-content: center;
}
#quit-btn{
    margin: 23px auto;
    display: flex;
    justify-content: center;
}
#high-scores{
    margin: 23px auto;
    display: flex;
    justify-content: center;
}